---
layout: blog-post
permalink: /blog
titleAfter: ...Footnote Consults Ltd.
priority: 1.0
---

<section class="d-block">
  <div class="container">
    <div class="row">
      <!-- Blog Snippets Column -->

      <div class="col-lg-8">
        <h2 class="mb-1 p-3">Latest Blog Posts</h2>
        {% include post-list.html %}
      </div>
      <!-- End Blog Snippets Column -->

      <!-- Sidebar Column -->
      <div class="col-lg-4">
        <div class="sidebar">
          <h2 class="mb-4">All Blog Posts</h2>
          <ul class="list-unstyled my-5 blogslist">
            {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>

            {% endfor %}
          </ul>
        </div>
      </div>
      <!-- End Sidebar Column -->
    </div>
  </div>
</section>
