---
layout: default
title: "services"
permalink: /services
titleAfter: ...Footnote Consults Ltd.
priority: 1.0
---

<div
  class="page-banner-wrap bg-cover"
  style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="page-heading text-white">
          <h1>Services</h1>
        </div>
        <div class="breadcrumb-wrap">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Service
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{%include services.html%}

<section
  class="pricing-cta-wrapper d-none text-white bg-cover bg-center section-padding"
  style="background-image: url('assets/img/pricing-cta-bg.jpg')">
  <div class="container">
    <div class="row">
      <div
        class="col-12 text-center col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 ps-xl-0 pe-xl-0">
        <div class="pricing-contents">
          <h1>We Offer The Renovating Services</h1>
          <div
            class="btn-wrapper d-flex align-items-end justify-content-center">
            <a href="contact.html">Contact Us</a>
            <div class="btn-cta">
              <div class="icon">
                <i class="flaticon-24-hours"></i>
              </div>
              <div class="content">
                <span class="text-star">Call for support</span>
                <h3>(555) 548 201 520</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="best-featured-wrapper d-none section-padding pb-5">
  <div class="container">
    <div class="row mtm-40 align-items-center">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-best-featured right">
          <div class="icon">
            <i class="flaticon-flow-chart"></i>
          </div>
          <div class="content-text">
            <h5>Technology</h5>
            <p>
              We are expert your all work is very nice waiting for next project.
            </p>
          </div>
        </div>
        <div class="single-best-featured right">
          <div class="icon">
            <i class="flaticon-writing"></i>
          </div>
          <div class="content-text">
            <h5>Core Planning</h5>
            <p>
              We are expert your all work is very nice waiting for next project.
            </p>
          </div>
        </div>
        <div class="single-best-featured right">
          <div class="icon">
            <i class="flaticon-interior-design"></i>
          </div>
          <div class="content-text">
            <h5>Project Result</h5>
            <p>
              We are expert your all work is very nice waiting for next project.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 p-md-0 mt-5 mb-5 mt-md-0 mb-md-0 col-md-6 col-12">
        <div class="center-img text-center mbm-50">
          <img src="assets/img/man-with-cap.png" alt="" />
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-best-featured">
          <div class="icon">
            <i class="flaticon-secure-shield"></i>
          </div>
          <div class="content-text">
            <h5>Trusted Clients</h5>
            <p>
              We are expert your all work is very nice waiting for next project.
            </p>
          </div>
        </div>
        <div class="single-best-featured">
          <div class="icon">
            <i class="flaticon-team"></i>
          </div>
          <div class="content-text">
            <h5>Skilled Team</h5>
            <p>
              We are expert your all work is very nice waiting for next project.
            </p>
          </div>
        </div>
        <div class="single-best-featured">
          <div class="icon">
            <i class="flaticon-profits"></i>
          </div>
          <div class="content-text">
            <h5>Save Money</h5>
            <p>
              We are expert your all work is very nice waiting for next project.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing-wrapper d-none section-padding pricing-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 offset-lg-2">
        <div class="block-contents text-center">
          <div class="section-title">
            <span>Pricing Table</span>
            <h2>Smart Pricing Plans For Smooth Work</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-pricing-plan">
          <div class="package-head">
            <div class="icon">
              <img src="assets/img/icons/p1.png" alt="" />
            </div>
            <div class="package-title">
              <h6>Basic</h6>
              <h2>$49.00</h2>
            </div>
          </div>

          <div class="package-features">
            <span>24/7 Tech Support</span>
            <span>Free Equipment Tools</span>
            <span>Advance Options</span>
            <span>Motion Detection Plan</span>
            <span>Night Vision</span>
          </div>
          <div class="package-btn">
            <a href="contact.html">Choose Plan</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-pricing-plan active">
          <div class="package-head">
            <div class="icon">
              <img src="assets/img/icons/p2.png" alt="" />
            </div>
            <div class="package-title">
              <h6>Standard</h6>
              <h2>$69.00</h2>
            </div>
          </div>
          <div class="package-features">
            <span>24/7 Tech Support</span>
            <span>Free Equipment Tools</span>
            <span>Advance Options</span>
            <span>Motion Detection Plan</span>
            <span>Night Vision</span>
          </div>
          <div class="package-btn">
            <a href="contact.html">Choose Plan</a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12">
        <div class="single-pricing-plan">
          <div class="package-head">
            <div class="icon">
              <img src="assets/img/icons/p3.png" alt="" />
            </div>
            <div class="package-title">
              <h6>Premium</h6>
              <h2>$89.00</h2>
            </div>
          </div>
          <div class="package-features">
            <span>24/7 Tech Support</span>
            <span>Free Equipment Tools</span>
            <span>Advance Options</span>
            <span>Motion Detection Plan</span>
            <span>Night Vision</span>
          </div>
          <div class="package-btn">
            <a href="contact.html">Choose Plan</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{%include stats.html%} {%include logos.html%}
