---
layout: default
title: "team"
permalink: /team
titleAfter: ...Footnote Consults Ltd.
priority: 1.0
---

<div
  class="page-banner-wrap bg-cover"
  style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="page-heading text-white">
          <h1>Team</h1>
        </div>
        <div class="breadcrumb-wrap">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Team</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

{%include team.html%} {%include logos.html%}
