<div class="brand-carousel-wrapper section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="brand-carousel-active owl-carousel">
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/b1.png" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/b2.png" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/b3.png" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/b4.png" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/b5.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
