<div
  class="page-banner-wrap bg-cover"
  style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="page-heading text-white">
          <h1>Contact Us</h1>
        </div>
        <div class="breadcrumb-wrap">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                about us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-us-wrapper section-padding">
  <div class="container">
    <div class="row eq-height">
      <div class="col-lg-8 col-12">
        <div class="contact-form">
          <h2>Get in Touch</h2>
          <form
            action="https://rrdevs.net/demos/html/footnote/mail.php"
            method="POST"
            class="row"
            id="contact-form">
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="name" placeholder="Name" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="email" name="email" placeholder="Email" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="phone" placeholder="Number" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="subject" placeholder="Subject" />
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="single-personal-info">
                <textarea name="message" placeholder="message"></textarea>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <input class="submit-btn" type="submit" value="Submit Now" />
            </div>
          </form>
          <span class="form-message"></span>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="contact-us-sidebar mt-5 mt-lg-0">
          <div class="contact-info">
            <h2>CONTACT INFO</h2>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-email"></i>
              </div>
              <div class="text">
                <span>Email Us</span>
                <p class="h6">footnoteconsults@gmail.com</p>
              </div>
            </div>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-phone-call-1"></i>
              </div>
              <div class="text">
                <span>Call Us</span>
                <p class="h6">+256 700 372 968</p>
              </div>
            </div>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-pin"></i>
              </div>
              <div class="text">
                <span>Location</span>
                <p class="h6">UMF Building, Sir Apollo Kaggwa Rd.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-map-wrap">
  <div id="map">
    <iframe
      loading="lazy"
      src="https://maps.google.com/maps?q=Makerere-Kikoni%2C%20UMI%2Ckampala%2C%20Uganda&amp;t=m&amp;z=10&amp;output=embed&amp;iwloc=near"
      title="Makerere-Kikoni, UMI,kampala, Uganda"
      aria-label="Makerere-Kikoni, UMI,kampala, Uganda"
      style="border: 0; width: 100%"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</div>
