<div
  class="page-banner-wrap bg-cover"
  style="background-image: url('assets/img/page-banner.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-12">
        <div class="page-heading text-white">
          <h1>Contact Us</h1>
        </div>
        <div class="breadcrumb-wrap">
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                about us
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-us-wrapper section-padding">
  <div class="container">
    <div class="row eq-height">
      <div class="col-lg-8 col-12">
        <div class="contact-form">
          <h2>Get in Touch</h2>
          <form
            action="https://rrdevs.net/demos/html/busico/mail.php"
            method="POST"
            class="row"
            id="contact-form">
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="name" placeholder="Name" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="email" name="email" placeholder="Email" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="phone" placeholder="Number" />
              </div>
            </div>
            <div class="col-md-6 col-12">
              <div class="single-personal-info">
                <input type="text" name="subject" placeholder="Subject" />
              </div>
            </div>
            <div class="col-md-12 col-12">
              <div class="single-personal-info">
                <textarea name="message" placeholder="message"></textarea>
              </div>
            </div>
            <div class="col-md-12 col-12">
              <input class="submit-btn" type="submit" value="Submit Now" />
            </div>
          </form>
          <span class="form-message"></span>
        </div>
      </div>
      <div class="col-lg-4 col-12">
        <div class="contact-us-sidebar mt-5 mt-lg-0">
          <div class="contact-info">
            <h2>CONTACT INFO</h2>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-email"></i>
              </div>
              <div class="text">
                <span>Email Us</span>
                <h5>info@example.com</h5>
              </div>
            </div>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-phone-call-1"></i>
              </div>
              <div class="text">
                <span>Call Us</span>
                <h5>+673 853 605 985</h5>
              </div>
            </div>
            <div class="single-info">
              <div class="icon">
                <i class="flaticon-pin"></i>
              </div>
              <div class="text">
                <span>Location</span>
                <h5>4821 Mainer St NY, USA</h5>
              </div>
            </div>
          </div>

          <div class="live-chat">
            <h2>Live Chat</h2>
            <p>You can contact us on chat and explain your problems</p>
            <a href="#"
              ><i class="flaticon-chatting"></i> Live Chat to Executive</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-map-wrap">
  <div id="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5457.875323165521!2d144.90402300269133!3d-37.792722838344716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2sbd!4v1612018663424!5m2!1sen!2sbd"
      frameborder="0"
      style="border: 0; width: 100%"
      allowfullscreen=""
      aria-hidden="false"
      tabindex="0"></iframe>
  </div>
</div>
{% include brands.html%}
