<section
  class="elementor-section elementor-top-section elementor-element elementor-element-84da9af elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="84da9af"
  data-element_type="section">
  <div class="elementor-container elementor-column-gap-extended">
    <div
      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2ebb682 ot-flex-column-vertical"
      data-id="2ebb682"
      data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-b97c7a0 elementor-widget elementor-widget-iheading"
          data-id="b97c7a0"
          data-element_type="widget"
          data-widget_type="iheading.default">
          <div class="elementor-widget-container">
            <div class="ot-heading is-dots">
              <span>[ how it works ]</span>
              <h2 class="main-heading">From Sketch to Life</h2>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-db77d9e elementor-widget elementor-widget-iaccordions"
          data-id="db77d9e"
          data-element_type="widget"
          data-widget_type="iaccordions.default">
          <div class="elementor-widget-container">
            <div class="ot-accordions">
              <div class="acc-item">
                <div class="acc-toggle flex-middle" data-default="yes">
                  What is 3D desing and how it work?
                  <span class="down"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <polygon
                        points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 "></polygon>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                  <span class="up"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <rect y="19" width="42" height="4"></rect>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                </div>
                <div class="acc-content">
                  The basic philosophy of our studio is to create individual,
                  aesthetically stunning solutions for our customers by
                  lightning-fast development of projects employing unique
                  styles.
                </div>
              </div>
              <div class="acc-item">
                <div class="acc-toggle flex-middle" data-default="">
                  How interior design is cost?
                  <span class="down"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <polygon
                        points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 "></polygon>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                  <span class="up"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <rect y="19" width="42" height="4"></rect>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                </div>
                <div class="acc-content">
                  The basic philosophy of our studio is to create individual,
                  aesthetically stunning solutions for our customers by
                  lightning-fast development of projects employing unique
                  styles.
                </div>
              </div>
              <div class="acc-item">
                <div class="acc-toggle flex-middle" data-default="">
                  How much time I will spend on planning?
                  <span class="down"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <polygon
                        points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 "></polygon>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                  <span class="up"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <rect y="19" width="42" height="4"></rect>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                </div>
                <div class="acc-content">
                  The basic philosophy of our studio is to create individual,
                  aesthetically stunning solutions for our customers by
                  lightning-fast development of projects employing unique
                  styles.
                </div>
              </div>
              <div class="acc-item">
                <div class="acc-toggle flex-middle" data-default="">
                  Can I create custom design?
                  <span class="down"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <polygon
                        points="42,19 23,19 23,0 19,0 19,19 0,19 0,23 19,23 19,42 23,42 23,23 42,23 "></polygon>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                  <span class="up"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      id="Capa_1"
                      x="0px"
                      y="0px"
                      viewbox="0 0 42 42"
                      style="enable-background: new 0 0 42 42"
                      xml:space="preserve">
                      <rect y="19" width="42" height="4"></rect>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g>
                      <g></g></svg
                  ></span>
                </div>
                <div class="acc-content">
                  The basic philosophy of our studio is to create individual,
                  aesthetically stunning solutions for our customers by
                  lightning-fast development of projects employing unique
                  styles.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-94d1f27 ot-flex-column-vertical"
      data-id="94d1f27"
      data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-4ac73e6 elementor-widget elementor-widget-image"
          data-id="4ac73e6"
          data-element_type="widget"
          data-widget_type="image.default">
          <div class="elementor-widget-container">
            <img
              loading="lazy"
              decoding="async"
              width="1093"
              height="1119"
              src="{{ site.baseurl }}/images/2020-05-image2-aboutus-1.png"
              class="attachment-full size-full wp-image-1979"
              alt=""
              srcset="
                ./images/2020-05-image2-aboutus-1.png           1093w,
                ./images/2020-05-image2-aboutus-1-293x300.png    293w,
                ./images/2020-05-image2-aboutus-1-1000x1024.png 1000w,
                ./images/2020-05-image2-aboutus-1-768x786.png    768w
              "
              sizes="(max-width: 1093px) 100vw, 1093px" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
