<footer class="footer-1 footer-wrap">
  <div class="footer-widgets-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 pe-xl-0 col-sm-6 col-12">
          <div class="single-footer-wid site_info_widget">
            <div class="wid-title">
              <h3>Get In Touch</h3>
            </div>
            <div class="contact-us">
              <div class="single-contact-info">
                <div class="icon">
                  <i class="fal fa-phone"></i>
                </div>
                <div class="contact-info">
                  <p>+673 853 605 985</p>
                  <p>908 9098 987 98</p>
                </div>
              </div>
              <div class="single-contact-info">
                <div class="icon">
                  <i class="fal fa-envelope"></i>
                </div>
                <div class="contact-info">
                  <p>info@example.com</p>
                  <p>info@webexample.com</p>
                </div>
              </div>
              <div class="single-contact-info">
                <div class="icon">
                  <i class="fal fa-map-marker-alt"></i>
                </div>
                <div class="contact-info">
                  <p>
                    7300-7398 Colonial Rd, Brooklyn, <br />
                    NY 11209
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 offset-xl-1 col-xl-3 ps-xl-5 col-12">
          <div class="single-footer-wid">
            <div class="wid-title">
              <h3>Quick Links</h3>
            </div>
            <ul>
              <li><a href="about.html">About Company</a></li>
              <li><a href="services.html">Communication Services</a></li>
              <li><a href="services.html">Internet of Things</a></li>
              <li><a href="services.html">Product Development</a></li>
              <li><a href="services.html">Industrial Automation</a></li>
              <li><a href="contact.html">Payment Getway</a></li>
            </ul>
          </div>
        </div>
        <!-- /.col-lg-3 - single-footer-wid -->

        <div class="col-sm-6 col-xl-4 offset-xl-1 col-12">
          <div class="single-footer-wid newsletter_widget">
            <div class="wid-title">
              <h3>Newsletter</h3>
            </div>
            <div class="newsletter_box">
              <form action="#">
                <i class="fal fa-envelope"></i>
                <input
                  type="email"
                  placeholder="Enter email address"
                  required />
                <button class="submit-btn" type="submit">
                  Subscribe Now <i class="fas fa-paper-plane"></i>
                </button>
              </form>
              <p>Opening Hours : <b> Mon - Fri: 9:30 AM - 10 PM</b></p>
            </div>
          </div>
        </div>
        <!-- /.col-lg-3 - single-footer-wid -->
      </div>
    </div>
  </div>

  <div class="footer-cta-wrapper">
    <div class="container">
      <div class="footer-cta-bg-wrapper">
        <div class="row justify-content-around align-items-center">
          <div class="col-lg-3 col-md-3 col-12">
            <div class="footer-logo">
              <a href="index.html">
                <img src="assets/img/footer-logo.png" alt="logo" />
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-5 ps-lg-0 offset-lg-1 col-12">
            <div
              class="footer-middle-text mt-4 mb-4 mt-md-0 mb-md-0 text-white">
              <p>
                Become an innovative entrepreneurial & empowered company
                constantly creating mission to be a world class construction
                company.
              </p>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-12">
            <div class="footer-social-icon ms-md-5 text-lg-md-end">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 col-12 text-center text-md-start">
          <div class="copyright-info">
            <p>
              © 2024 Copyright By <a href="index.html">Busico</a>. All Rights
              Reserved
            </p>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="footer-menu mt-3 mt-md-0 text-center text-md-end">
            <ul>
              <li><a href="#">Teams & Conditions</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--  ALl JS Plugins
====================================== -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/meanmenu.js"></script>
<script src="assets/js/jquery.easing.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/imageload.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/magnific-popup.min.js"></script>
<script src="assets/js/counterup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/scrollUp.min.js"></script>
<script src="assets/js/ajax-mail.js"></script>
<script src="assets/js/active.js"></script>
