<header class="header-wrap header-1">
  <div
    class="container-fluid d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="{{site.baseurl}}/">
        <img
          src="assets/img/logo.png"
          alt="logo"
          style="max-height: 80px !important" />
      </a>
    </div>
    <div class="header-right-area d-flex">
      <div class="main-menu d-none d-xl-block">
        <nav id="mobile-menu">
          <ul>
            <li>
              <a href="{{site.baseurl}}/">Home </a>
            </li>
            <li><a href="{{site.baseurl}}/services">Services</a></li>
            <li><a href="{{site.baseurl}}/projects.html">projects</a></li>
            <li>
              <a href="#">Pages <i class="fal fa-plus"></i></a>
              <ul class="sub-menu">
                <li><a href="{{site.baseurl}}/about">about</a></li>
                <li><a href="{{site.baseurl}}/team">team</a></li>
              </ul>
            </li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
            <li>
              <a href="#" class="search-btn search-open-btn"
                ><i class="fas fa-search"></i
              ></a>
            </li>
          </ul>
        </nav>
      </div>
      <div
        class="header-right-elements d-flex align-items-center justify-content-between">
        <a href="{{site.baseurl}}/contact" class="theme-btn d-none d-sm-block"
          >Get Free Quote</a
        >
        <a href="#" class="side-menu-toggle side-toggle"
          ><i class="fal fa-bars"></i
        ></a>
      </div>
    </div>
  </div>
</header>
