<div class="brand-carousel-wrapper dot-bg section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-12">
        <div class="brand-carousel-active owl-carousel">
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/ad.jpg" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/e.jpg" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/kcca.jpg" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/mbarara.jpg" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/msltd.jpg" alt="" />
          </div>
          <div class="single-brand-logo">
            <img src="assets/img/brand-logo/rubirizi.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
