<section class="our-service-wrapper section-padding bg-gray">
  <div class="container">
    <div class="row mtm-30">
      <div class="col-md-6 col-12 col-lg-4 mt-30">
        <div class="single-service-box style-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('assets/img/services/1.jpg')"></div>
          <div class="icon">
            <i class="flaticon-blueprint"></i>
          </div>
          <div class="contents">
            <h4><a href="services-details.html">Architecture</a></h4>
            <p>
              We commit ourselves to complete all projects within the timeline
              set with our honorable clients.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 col-lg-4 mt-30">
        <div class="single-service-box style-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('assets/img/services/1.jpg')"></div>
          <div class="icon">
            <i class="flaticon-interior-design"></i>
          </div>
          <div class="contents">
            <h4><a href="services-details.html">Interior Design</a></h4>
            <p>
              We commit ourselves to complete all projects within the timeline
              set with our honorable clients.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 col-lg-4 mt-30">
        <div class="single-service-box style-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('assets/img/services/1.jpg')"></div>
          <div class="icon">
            <i class="flaticon-home"></i>
          </div>
          <div class="contents">
            <h4><a href="services-details.html">Home Decoration</a></h4>
            <p>
              We commit ourselves to complete all projects within the timeline
              set with our honorable clients.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 col-lg-4 mt-30">
        <div class="single-service-box style-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('assets/img/services/1.jpg')"></div>
          <div class="icon">
            <i class="flaticon-varnish"></i>
          </div>
          <div class="contents">
            <h4><a href="services-details.html">Repair & Painting</a></h4>
            <p>
              We commit ourselves to complete all projects within the timeline
              set with our honorable clients.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 col-lg-4 mt-30">
        <div class="single-service-box style-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('assets/img/services/1.jpg')"></div>
          <div class="icon">
            <i class="flaticon-sketch-1"></i>
          </div>
          <div class="contents">
            <h4><a href="services-details.html">Sketching</a></h4>
            <p>
              We commit ourselves to complete all projects within the timeline
              set with our honorable clients.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12 col-lg-4 mt-30">
        <div class="single-service-box style-1">
          <div
            class="service-bg bg-cover"
            style="background-image: url('assets/img/services/1.jpg')"></div>
          <div class="icon">
            <i class="flaticon-sketch"></i>
          </div>
          <div class="contents">
            <h4><a href="services-details.html">Project Planning</a></h4>
            <p>
              We commit ourselves to complete all projects within the timeline
              set with our honorable clients.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
