<section class="fun-fact-wrapper text-white theme-bg pt-70 pb-100 text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 border-line mt-30 col-12">
        <div class="single-fun-fact">
          <h2><span>30</span>K+</h2>
          <h3>PROJECT DONE</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 border-line mt-30 col-12">
        <div class="single-fun-fact">
          <h2><span>980</span>+</h2>
          <h3>HAPPY CLIENTS</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 border-line mt-30 col-12">
        <div class="single-fun-fact">
          <h2><span>50</span>+</h2>
          <h3>Skilled Employee</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 border-line mt-30 col-12">
        <div class="single-fun-fact">
          <h2><span>98</span>%</h2>
          <h3>Country Coverage</h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="skill-wrapper section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-12">
        <div class="block-contents">
          <div class="section-title mb-10">
            <span>Expertise Areas</span>
            <h2>We Increased Our Skills up</h2>
          </div>
          <p>
            It's the greatest tool ever invented to connect and learn and work
            and play. But most people are stuck with just one overpriced.
          </p>
        </div>

        <div class="skill-wrapper">
          <div class="single-progress-bar">
            <div
              class="title justify-content-between d-flex align-items-center">
              <h5>Construction</h5>
              <span
                class="wow fadeInLeft"
                data-wow-duration="1.5s"
                data-wow-delay="1s"
                >90%</span
              >
            </div>
            <div class="progress">
              <div
                class="progress-bar wow fadeInLeft"
                data-wow-duration="2s"
                data-wow-delay=".1s"
                role="progressbar"
                style="width: 90%"></div>
            </div>
          </div>
          <div class="single-progress-bar">
            <div
              class="title justify-content-between d-flex align-items-center">
              <h5>Customer Support</h5>
              <span
                class="wow fadeInLeft"
                data-wow-duration="1.5s"
                data-wow-delay="1.3s"
                >87%</span
              >
            </div>
            <div class="progress">
              <div
                class="progress-bar wow fadeInLeft"
                data-wow-duration="2s"
                data-wow-delay=".5s"
                role="progressbar"
                style="width: 87%"></div>
            </div>
          </div>
          <div class="single-progress-bar">
            <div
              class="title justify-content-between d-flex align-items-center">
              <h5>Strategic Planning</h5>
              <span
                class="wow fadeInLeft"
                data-wow-duration="1.5s"
                data-wow-delay="1.6s"
                >94%</span
              >
            </div>
            <div class="progress">
              <div
                class="progress-bar wow fadeInLeft"
                data-wow-duration="2s"
                data-wow-delay=".9s"
                role="progressbar"
                style="width: 94%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 ps-lg-5 col-lg-6 col-12">
        <div
          class="video-popup-wrapper skill-video d-flex justify-content-center align-items-center bg-cover bg-center"
          style="background-image: url('assets/img/faq-bg.jpg')">
          <div class="video-play-btn">
            <a
              href="https://www.youtube.com/watch?v=E1xkXZs0cAQ"
              class="popup-video play-video"
              ><i class="fas fa-play"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
