<section
  class="elementor-section elementor-top-section elementor-element elementor-element-5947146 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
  data-id="5947146"
  data-element_type="section"
  data-settings='{"background_background":"classic"}'>
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7a748f5 ot-flex-column-vertical"
      data-id="7a748f5"
      data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-27d9c60 theratio-align-center elementor-widget elementor-widget-iheading"
          data-id="27d9c60"
          data-element_type="widget"
          data-widget_type="iheading.default">
          <div class="elementor-widget-container">
            <div class="ot-heading is-dots text-center mt-5">
              <span>[ our professionals ]</span>
              <h2 class="main-heading text-center">Meet Our Skilled Team</h2>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-a3bdf7d elementor-widget elementor-widget-imembercarousel"
          data-id="a3bdf7d"
          data-element_type="widget"
          data-widget_type="imembercarousel.default">
          <div class="elementor-widget-container">
            <div
              class="team-slider swiper swiper-container"
              data-slider_options='{"slides_show_desktop":5,"slides_show_tablet":2,"slides_show_mobile":1,"slides_scroll_desktop":3,"slides_scroll_tablet":2,"slides_scroll_mobile":1,"margin_desktop":0,"arrows":false,"dots":true}'>
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="team-wrap">
                    <div class="team-thumb">
                      <img
                        decoding="async"
                        src="{{ site.baseurl }}/images/2024-05-ROBERT-1.jpg"
                        alt="ROBERT WALUSIMBI" />
                    </div>
                    <div class="team-text-overlay">
                      <div class="team-info dtable">
                        <div class="dcell">
                          <h4 class="m_name">ROBERT WALUSIMBI</h4>
                          <div class="team-social flex-middle">
                            <span class="ot-flaticon-add"></span>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 0ms">
                              <i class="fab fab fa-twitter"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 100ms">
                              <i class="fab fab fa-facebook-f"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 200ms">
                              <i class="fab fab fa-pinterest-p"></i>
                            </a>
                          </div>
                        </div>
                        <div class="m_extra">
                          <span>[ PROJECT MANAGER ]</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="team-wrap">
                    <div class="team-thumb">
                      <img
                        decoding="async"
                        src="{{ site.baseurl }}/images/2024-05-DEANOLINE.jpg"
                        alt="DEANOLINE KEKIRUNGA" />
                    </div>
                    <div class="team-text-overlay">
                      <div class="team-info dtable">
                        <div class="dcell">
                          <h4 class="m_name">DEANOLINE KEKIRUNGA</h4>
                          <div class="team-social flex-middle">
                            <span class="ot-flaticon-add"></span>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 0ms">
                              <i class="fab fab fa-twitter"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 100ms">
                              <i class="fab fab fa-facebook-f"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 200ms">
                              <i class="fab fab fa-pinterest-p"></i>
                            </a>
                          </div>
                        </div>
                        <div class="m_extra">
                          <span>QUANTITY SURVEYOR</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="team-wrap">
                    <div class="team-thumb">
                      <img
                        decoding="async"
                        src="{{ site.baseurl }}/images/2024-05-BRIAN.jpg"
                        alt="MPIRIRWE BRIAN" />
                    </div>
                    <div class="team-text-overlay">
                      <div class="team-info dtable">
                        <div class="dcell">
                          <h4 class="m_name">MPIRIRWE BRIAN</h4>
                          <div class="team-social flex-middle">
                            <span class="ot-flaticon-add"></span>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 0ms">
                              <i class="fab fab fa-twitter"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 100ms">
                              <i class="fab fab fa-facebook-f"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href=""
                              style="transition-delay: 200ms">
                              <i class="fab fab fa-pinterest-p"></i>
                            </a>
                          </div>
                        </div>
                        <div class="m_extra">
                          <span>SITE SUPERVISOR</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="team-wrap">
                    <div class="team-thumb">
                      <img
                        decoding="async"
                        src="{{ site.baseurl }}/images/2024-05-DEAN.jpg"
                        alt="Eng. Dean Nuwenyesiga" />
                    </div>
                    <div class="team-text-overlay">
                      <div class="team-info dtable">
                        <div class="dcell">
                          <h4 class="m_name">Eng. Dean Nuwenyesiga</h4>
                          <div class="team-social flex-middle">
                            <span class="ot-flaticon-add"></span>
                            <a
                              rel="nofollow"
                              href="https://twitter.com"
                              style="transition-delay: 0ms">
                              <i class="fab fab fa-twitter"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href="https://linkedin.com"
                              style="transition-delay: 100ms">
                              <i class="fab fab fa-linkedin-in"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href="https://instagram.com"
                              style="transition-delay: 200ms">
                              <i class="fab fab fa-instagram"></i>
                            </a>
                          </div>
                        </div>
                        <div class="m_extra">
                          <span>Founder & CEO</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="team-wrap">
                    <div class="team-thumb">
                      <img
                        decoding="async"
                        src="{{ site.baseurl }}/images/2024-05-GUMA-1.jpg"
                        alt="ENG. GUMISIRIZA EZRA" />
                    </div>
                    <div class="team-text-overlay">
                      <div class="team-info dtable">
                        <div class="dcell">
                          <h4 class="m_name">ENG. GUMISIRIZA EZRA</h4>
                          <div class="team-social flex-middle">
                            <span class="ot-flaticon-add"></span>
                            <a
                              rel="nofollow"
                              href="#"
                              style="transition-delay: 0ms">
                              <i class="fab fab fa-twitter"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href="#"
                              style="transition-delay: 100ms">
                              <i class="fab fab fa-linkedin-in"></i>
                            </a>
                            <a
                              rel="nofollow"
                              href="#"
                              style="transition-delay: 200ms">
                              <i class="fab fab fa-instagram"></i>
                            </a>
                          </div>
                        </div>
                        <div class="m_extra">
                          <span>[CIVIL ENGINEER ]</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Add Dots -->
              <div class="octf-swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
