<section
  class="elementor-section elementor-top-section elementor-element elementor-element-7531c99 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="7531c99"
  data-element_type="section">
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f8581af ot-flex-column-vertical"
      data-id="f8581af"
      data-element_type="column">
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-6dc6e9c theratio-align-center elementor-widget elementor-widget-iheading"
          data-id="6dc6e9c"
          data-element_type="widget"
          data-widget_type="iheading.default">
          <div class="elementor-widget-container">
            <div class="ot-heading is-dots">
              <span>[ testimonials ]</span>
              <h2 class="main-heading">What People Say</h2>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-ad219e5 elementor-widget elementor-widget-itestimonials"
          data-id="ad219e5"
          data-element_type="widget"
          data-widget_type="itestimonials.default">
          <div class="elementor-widget-container">
            <div class="ot-testimonials v-light">
              <div
                class="testimonial-inner ot-testimonials-slider-s1 swiper swiper-container"
                data-slider_options='{"slides_show_desktop":3,"slides_show_tablet":3,"slides_show_mobile":3,"slides_scroll_desktop":1,"slides_scroll_tablet":1,"slides_scroll_mobile":1,"arrows":false,"dots":true}'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="testi-item">
                      <div class="ttext">
                        <div class="layer-behind"></div>
                        <span></span> "You will never fake the feeling of being
                        in such a place. The live minimalism base on the natural
                        materials & alive unprocessed."
                      </div>
                      <div class="t-head flex-middle">
                        <img
                          loading="lazy"
                          decoding="async"
                          width="80"
                          height="80"
                          src="{{ site.baseurl }}/images/2020-05-testi1-1.png"
                          class="attachment-thumbnail size-thumbnail"
                          alt="" />
                        <div class="tinfo">
                          <h6>Anna Paulina</h6>
                          <span>Client of Company</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testi-item">
                      <div class="ttext">
                        <div class="layer-behind"></div>
                        <span></span> "You will never fake the feeling of being
                        in such a place. The live minimalism base on the natural
                        materials & alive unprocessed."
                      </div>
                      <div class="t-head flex-middle">
                        <img
                          loading="lazy"
                          decoding="async"
                          width="80"
                          height="80"
                          src="{{ site.baseurl }}/images/2020-05-testi2-1.png"
                          class="attachment-thumbnail size-thumbnail"
                          alt="" />
                        <div class="tinfo">
                          <h6>Pablo Gusterio</h6>
                          <span>Client of Company</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="testi-item">
                      <div class="ttext">
                        <div class="layer-behind"></div>
                        <span></span> "You will never fake the feeling of being
                        in such a place. The live minimalism base on the natural
                        materials & alive unprocessed."
                      </div>
                      <div class="t-head flex-middle">
                        <img
                          loading="lazy"
                          decoding="async"
                          width="80"
                          height="80"
                          src="{{ site.baseurl }}/images/2020-05-testi3-1.png"
                          class="attachment-thumbnail size-thumbnail"
                          alt="" />
                        <div class="tinfo">
                          <h6>Kristina Lee</h6>
                          <span>Client of Company</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Add Dots -->
                <div class="octf-swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
