  {% include head.html %}

  <body class="m-0 p-0">
    {% include header.html %}
    <div
  class="mt-5 pt-1 pagetitle col-lg-12 order-2 order-lg-1 d-flex flex-column justify-content-center">

</div>
    <main class="py-1 d-block">
      <div class="container">
        <h1 class="mb-1">{{ page.title }}</h1>
        <p class="text-muted">{{ page.date | date: '%B %d, %Y' }}</p>
        {{ content }}
      </div>
    </main>
  
   
    {% include footer.html %}
    <script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
    <script type="text/javascript">
      (function(){
          emailjs.init("qqJnbf812rTIUEALz");
      })();
    </script>
    
  </body>
  </html>